html,
body {
  font-size: 100%;
  height: 100%;
}

.container {
  max-width: 1024px;
  padding: 1rem;
}

/*PARTY MAKER*/

.party-maker {
  margin-top: 5rem;
}

.form--parties {
  border: 3px solid hsla(0, 0%, 0%, 1);
  padding: 1rem;
  margin-bottom: 3rem;
}

.form__field {
  /*padding: 1rem;*/
}

.form__actions {
  padding: 1rem;
}

.form__field > label {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.form__field > input {
  border: none;
  border-bottom: 1px solid black;
  height: 3rem;
}

.form__field > input:focus {
  outline: none;
}

/*PARTY INFO*/

.party-info {

}

.party-total {
  font-size: 1.5rem;
  position: relative;
  text-align: right;
}

.party-total__count {
  color: hsla(360, 100%, 70%, 1);
}

.menu {
  text-align: right;
}

.button--remove-all{
  color: hsla(360, 100%, 70%, 1);
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  font-size: .85rem;
  letter-spacing: .065rem;
  overflow: hidden;
  text-transform: uppercase;
}

.button--remove-all:hover{
  color: hsla(360, 100%, 40%, 1);
}


.list--parties {
  list-style: none;
  padding-left: 0;
}

.party {
  border-bottom: 1px solid hsla(0, 0%, 0%, .45);
  padding: 2rem 0;
  position: relative;
}

.party__name {
  font-size: 2rem;
  margin: 0 0 .25rem 0;
}

.party__desc {
  font-size: 1.5rem;
  font-style: italic;
  margin: 1rem 0 2rem 0;
}

.one-third.column {
    width: 100%;
  }

  .two-thirds.column {
    width: 100%;
  }



/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  .one-third.column {
    width: 30.6666666667%;
  }

  .two-thirds.column {
    width: 65.3333333333%;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
