html, body {
  padding: 1rem;
}

.container {
  clear: both;
}

/*PARTY MAKER*/

.party-maker {
  float: left;
  margin-top: 5rem;
  width: 30%;
}

.form--parties {
  border: 3px solid hsla(0, 0%, 0%, 1);
  padding: 1rem;
  margin-bottom: 3rem;
}

.form__field {
  padding: 1rem;
}

.form__actions {
  padding: 1rem;
}

.form__field > label {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.form__field > input {
  border: none;
  border-bottom: 1px solid black;
  height: 2rem;
  width: 100%;
}

.form__field > input:focus {
  outline: none;
}

/*PARTY INFO*/

.party-info {
  float: right;
  width: 65%;
}


.party-total {
  font-size: 1.5rem;
  position: relative;
  text-align: right;
}

.party-total__count {
  display: inline-block;
  background: hsla(0, 0%, 87%, 1);
  border-radius: 1.5rem;
  padding: .65rem;
  height: 1.1rem;
  width: 1.1rem;
  text-align: center;
  vertical-align: middle;
}

.menu {
  text-align: right;
}

.remove-all{
  /*border-bottom: 1px solid hsla(360, 100%, 70%, 1);*/
  color: hsla(360, 100%, 70%, 1);
  cursor: pointer;
  cursor: hand;
  display: inline-block;
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  font-size: .85rem;
  letter-spacing: .065rem;
  padding: .25rem .5rem;
  text-transform: uppercase;
}

.remove-all:hover{
  /*border-bottom: 1px solid hsla(360, 100%, 40%, 1);*/
  color: hsla(360, 100%, 40%, 1);
}

.remove-all:before{
  content: '\0078  ';
  background: hsla(360, 100%, 70%, 1);
  color: hsla(360, 100%, 100%, 1);
  display: inline-block;
  font-size: .65rem;
  font-weight: 600;
  letter-spacing: normal;
  margin-right: .5rem;
  padding: .3rem;
  position: relative;
  bottom: .15rem;

}

.remove-all:hover:before{
  background: hsla(360, 100%, 40%, 1);
}


.list--parties {
  list-style: none;
  padding-left: 0;
}

.party {
  border-bottom: 1px solid hsla(0, 0%, 0%, .45);
  padding: 2rem;
  position: relative;
}

.party__name {
  font-size: 2rem;
  margin: 0 0 .25rem 0;
}

.party__desc {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0 0 2rem 0;
}


/* BUTTONS */

.btn {
  background: transparent;
  cursor: pointer;
  cursor: hand;
  font-size: 1.25rem;
  padding: .65rem 1rem;
  text-transform: uppercase;
  width: 7rem;
}

.btn:active, .btn:focus {
  outline: none;
}

.btn--close {
  background: hsla(360, 100%, 70%, 1);
  border: none;
  color: hsla(360, 100%, 100%, 1);
  display: inline-block;
  font-size: .85rem;
  font-weight: 600;
  padding: .2rem;
  position: absolute;
  top: 2rem;
  right: 0;
  width: 3rem;
}

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {

  .party-maker, .party-info {
    float: none;
    width: 100%;
  }

  .party {
    padding: 1.65rem 0;
    overflow: hidden;
  }

  .btn--close {
    position: initial;
    float: right;
  }


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .party-maker, .party-info {
    float: none;
    width: 100%;
  }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
