html,
body {
  font-size: 14px;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
}

.top-bar {
  background: hsla(0, 0%, 0%, 1);
  margin: 0 0 1rem 0;
  width: 100%;
}

.top-bar__contents {
  margin: 0 3rem;
  padding: .75rem 1rem;

}

.user-state {
  margin: 0 5rem 0 0;
}

.container {
  max-width: 1024px;
  padding: 0 1rem;
}

.page-title {
  color: hsla(18, 100%, 50%, 1);
  font-size: 1.65rem;
  letter-spacing: .10rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.tag-line {
  color: hsla(0,0%,60%,1);
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  position: relative;
  bottom: 1rem;
  text-transform: capitalize;
}

.section-title {
  font-size: 1.45rem;
  letter-spacing: .10rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.message {
  background: hsla(0, 0%, 93%, 1);
  display: inline-block;
  font-size: 1rem;
  letter-spacing: .08rem;
  padding: .25rem .5rem;
}

.message--error {
  background: hsla(18, 100%, 50%, 1);
  color: hsla(360, 100%, 100%, 1);
}

/*PARTY MAKER*/

.party-maker {
  margin-top: 5rem;
}

.form--parties {
  border: 1px solid hsla(0, 0%, 0%, 1);
  background: hsla(360, 100%, 100%, 1);
  padding: 1rem;
  margin-bottom: 3rem;
}

.form__field {
  /*padding: 1rem;*/
}

.form__actions {
  padding: 1rem;
}

.form__field > label {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.form__label--checkbox {
  display: inline-block;
}

.form__field > input {
  border: none;
  border-bottom: 1px solid black;
  height: 3rem;
}

.form__field > textarea {
  border: none;
  border-bottom: 1px solid black;
  height: 7rem;
  padding: 0;
}

.form__field > input:focus,
.form__field > textarea:focus {
  outline: none;
}

.form__field > input[type="checkbox"] {
  height: 1rem; /* temporary, for design set to display none and use image sprite */
}

/*PARTY INFO*/

.party-info {

}

.party-total {
  font-size: 1.5rem;
  position: relative;
  text-align: right;
}

.party-total__count {
  color: hsla(360, 100%, 70%, 1);
}

.menu {
  text-align: right;
}

.owner-menu__item {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: .10rem;
  text-transform: uppercase;
}

.button-primary.button--error {
  background: hsla(360, 100%, 70%, 1);
  border-color: hsla(360, 100%, 70%, 1);
}

.button-primary.button--error:hover {
  background: hsla(360, 100%, 50%, 1);
  border-color: hsla(360, 100%, 70%, 1);
}

.button--remove-all{
  color: hsla(360, 100%, 70%, 1);
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  font-size: .85rem;
  letter-spacing: .065rem;
  overflow: hidden;
  text-transform: uppercase;
}

.button--remove-all:hover{
  color: hsla(360, 100%, 40%, 1);
}

.button--remove {
  border: none;
  color: hsla(360, 100%, 70%, 1);
  font-size: 2rem;
}

.button--remove:hover {
  border: none;
  color: hsla(360, 100%, 40%, 1);
  font-size: 2rem;
}


.list--parties {
  list-style: none;
  padding-left: 0;
}

.party {
  border-bottom: 1px solid hsla(0, 0%, 0%, .45);
  padding: 2rem 0;
  position: relative;
}

.party__name {
  font-size: 2rem;
  margin: 0 0 .25rem 0;
}

.party__desc {
  font-size: 1.5rem;
  font-style: italic;
  margin: 1rem 0 2rem 0;
  text-transform: capitalize;
  -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

.one-third.column {
    width: 100%;
  }

  .two-thirds.column {
    width: 100%;
  }



/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  .one-third.column {
    width: 30.6666666667%;
  }

  .two-thirds.column {
    width: 65.3333333333%;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
