<section>
<div class="row">
  <div class="twelve columns">
    <header>
      <h2 class="page-title">Edit Party</h2>
    </header>
  </div>
</div>

<div class="row">
  <div class="twelve columns party-editor">
    <form class="form--parties">
      <div class="form__field">
        <label>Party Name:</label>
        <input class="u-full-width" ng-model="party.name">
      </div>
      <div class="form__field">
        <label>Description:</label>
        <textarea class="u-full-width" ng-model="party.description"></textarea>
      </div>

      <div class="form__actions">
        <button class="button-primary" ng-click="save()">Save</button>
        <a class="button" ng-click="reset()" href="/parties">Cancel</a>
      </div>
    </form>
  </div>
</div>
</section>
