<div class="row">
  <div class="twelve columns">
    <h1 class="page-title">Socially</h1>
    <p class="tag-line">Where the parties are</p>
  </div>
</div>

<div class="row">

<div class="one-third column party-maker" ng-show="currentUser">
  <form class="form--parties">
    <div class="form__field">
      <label>Party Name:</label>
      <input class="u-full-width" ng-model="newParty.name">
    </div>
    <div class="form__field">
      <label>Description:</label>
      <input class="u-full-width" ng-model="newParty.description">
    </div>
    <div class="form__field">
      <input type="checkbox" id="public" name="public" ng-model="newParty.public">
      <label class="form__label--checkbox" for="public">Make Public: <span class="form__checkbox"></span></label>
    </div>

    <!-- <input type="checkbox" id="c1" name="cc" />
    <label for="c1"><span></span>Check Box 1</label> -->

    <div class="form__actions">
      <!-- pushing into the collection. It works, but it's not great for performance  -->
        <!-- <button class="btn btn--submit" ng-click="parties.push(newParty); newParty='';">Add</button> -->
      <!-- Instead let's use $meteor.collection's save helper function -->
        <button class="button button-primary" ng-click="newParty.owner=$root.currentUser._id; parties.save(newParty); newParty=''">Add Party</button>
    </div>
  </form>
</div>

<div class="party-info" ng-class="{'two-thirds column': currentUser}">
  <p class="party-total">
    Parties:
    <span class="party-total__count">{{parties.length}}</span>
  </p>
  <div class="menu">
    <!-- This should only exist in an admin view -->
    <!-- <a class="button button--remove-all" ng-click="removeAll()">remove all</a> -->
  </div>

  <ul class="list--parties">
    <li class="u-cf u-full-width party" ng-repeat="party in parties">
      <p class="party__name">
        {{party.name}} <span class="owner-menu__item" ng-show="isOwner(currentUser,party);">&mdash; <a href="/parties/{{party._id}}">edit</a></span>
      </p>
      <p class="party__desc">{{party.description}}</p>
      <div class="party__note">
        <p class="party__privacy">{{party.public ? 'open to the public' : 'private party'}}</p>
      </div>
      <button class="u-pull-right button button--remove" ng-show="isOwner(currentUser,party);" ng-click="remove(party)">&times;</button>
    </li>
  </ul>
</div>

</div>
